@import url("https://fonts.googleapis.com/css2?family=Bakbak+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bakbak+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gideon+Roman&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  font-size: 24px;
}

body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body nav {
  display: grid;
  grid-template-columns: 1fr 4fr;
  width: 100vw;
  height: 15vh;
}
body nav .logo-part {
  display: flex;
  align-items: center;
  justify-content: center;
}
body nav .logo-part .logo a {
  font-size: 1.9rem;
  color: #292929;
  font-family: "Bakbak One", cursive;
  text-decoration: none;
  letter-spacing: -1px;
}
body nav .links {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}
body nav .links ul {
  padding-left: 45%;
  width: 80%;
  height: inherit;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
body nav .links ul li {
  list-style-type: none;
}
body nav .links ul li a {
  color: black;
  font-size: 0.6rem;
  text-decoration: none;
  font-family: "Nunito Sans", sans-serif;
  text-transform: uppercase;
  font-weight: bolder;
}
body nav .links ul .burger {
  margin-left: 5%;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
  width: auto;
  height: 25%;
  z-index: 9999;
  transition: 1.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}
body nav .links ul .burger .line {
  margin-bottom: 25%;
  width: 25px;
  height: 2px;
  background-color: #292929;
  display: block;
}
body nav .links ul .disappear {
  display: none !important;
}
body nav .links ul .burger:hover {
  cursor: pointer;
}
body nav .links ul li::after {
  content: "";
  width: 0px;
  height: 1px;
  background-color: rgba(63, 63, 63, 0.767);
  display: block;
  transition: 0.8s cubic-bezier(0, 0.27, 0.69, 0.78);
}
body nav .links ul li:hover::after, body nav .links ul li:focus::after {
  animation: underline 0.2s forwards;
}
@keyframes underline {
  0% {
    width: 0%;
  }
  40% {
    width: 20%;
  }
  70% {
    width: 60%;
  }
  100% {
    width: inherit;
  }
}
body .menu-copy {
  z-index: 69;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.6);
  position: fixed;
  right: -100%;
  top: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 129, 129, 0.705);
  transition: 1.2s ease-out;
  opacity: 0;
}
body .menu {
  z-index: 420;
  width: 40vw;
  height: 100vh;
  position: fixed;
  right: -100%;
  top: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 129, 129, 0.705);
  transition: 1.2s ease-out;
}
body .menu ul {
  height: 90%;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  justify-items: center;
}
body .menu ul li {
  list-style-type: none;
}
body .menu ul li a {
  color: black;
  font-size: 0.95rem;
  text-decoration: none;
  font-family: "Nunito Sans", sans-serif;
  text-transform: uppercase;
  font-weight: bolder;
}
body .menu ul .burger-active {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  align-self: center;
  width: auto;
  height: 3.75vh;
  z-index: 9999;
}
body .menu ul .burger-active .line {
  margin-bottom: 25%;
  width: 25px;
  height: 2px;
  background-color: #292929;
  display: block;
}
body .active {
  transition: 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
  right: 0%;
}
body .activecopy {
  transition: 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
  right: 0%;
  animation: fade-bg 1s linear forwards;
}
@keyframes fade-bg {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0.4;
  }
}
body .landing-page {
  width: 100vw;
  height: 80vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
body .landing-page .text-area {
  display: grid;
  grid-template-rows: 1fr 1.2fr;
}
body .landing-page .text-area h1 {
  font-family: "Bakbak One", cursive;
  font-size: 2.2rem;
  display: flex;
  align-items: flex-end;
  opacity: 0.9;
  padding: 5%;
  text-transform: uppercase;
}
body .landing-page .text-area h3 {
  font-family: "Playfair Display", serif;
  font-size: 0.8rem;
  display: flex;
  align-items: flex-start;
  padding: 5%;
}
body .landing-page .image {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 4%;
}
body .landing-page .image img {
  width: 60%;
  margin-right: 1%;
}
body .about {
  margin-top: 10%;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .about .about-title {
  height: 30%;
  font-family: "Bakbak One", cursive;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .about .about-content {
  padding: 5%;
  height: 70%;
  width: 80%;
  background: white;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
}
body .about .about-content .content-area {
  font-size: 1rem;
  height: 100%;
  position: relative;
}
body .about .about-content .content-area .content1 {
  height: 100%;
  width: 100%;
  font-size: 1rem;
  z-index: 3;
  position: absolute;
}
body .about .about-content .content-area .content2 {
  height: 100%;
  width: 100%;
  z-index: 2;
  position: absolute;
}
body .about .about-content .content-area .content3 {
  height: 100%;
  width: 100%;
  z-index: 1;
}
body .about .about-content .switching-area {
  height: 100%;
  padding-left: 10%;
  font-size: 1.3rem;
  font-family: "Bakbak One", cursive;
}
body .about .about-content .switching-area ul {
  height: 100%;
  display: flex;
  flex-direction: column;
}
body .about .about-content .switching-area ul li {
  padding-left: 2%;
  margin-bottom: 5%;
  list-style-type: none;
  color: rgba(63, 63, 63, 0.767);
}
body .about .about-content .switching-area ul li:hover {
  cursor: pointer;
}

.fade {
  opacity: 0.6;
  transition: 0.5s ease-in;
}

.color {
  color: #6102ce;
  margin-left: 2.5%;
}

.disappear {
  animation: disappear 0.1s linear forwards;
}

@keyframes disappear {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.highlighted {
  animation: highlighted 0.4s linear forwards;
}

@keyframes highlighted {
  from {
    color: rgba(63, 63, 63, 0.767);
  }
  to {
    color: black;
  }
}
@media only screen and (max-width: 1050px) {
  body nav .logo-part .logo a {
    font-size: 1.69rem;
  }
  body .landing-page .image img {
    width: 70%;
  }
  body .about .about-title {
    font-size: 1.8rem;
  }
  body .about .about-content {
    height: 80% !important;
  }
  body .about .about-content .switching-area ul li {
    font-size: 1.2rem;
  }
  body .about .about-content .content-area {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 950px) {
  body nav {
    grid-template-columns: 1.25fr 4fr;
  }
  body nav .logo-part .logo a {
    font-size: 1.69rem;
  }
  body nav .links ul {
    padding-left: 35%;
  }
  body .about .about-title {
    font-size: 1.8rem;
  }
  body .about .about-content {
    margin-top: 5%;
    padding: 3%;
    height: 100% !important;
  }
  body .about .about-content .switching-area ul li {
    font-size: 1.2rem;
  }
  body .about .about-content .content-area {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 800px) {
  :root {
    font-size: 20px;
  }

  .links ul li a {
    font-size: 0.65rem !important;
  }

  .landing-page {
    height: 100vh !important;
    grid-template-columns: unset !important;
    grid-template-rows: 1fr 4fr;
  }
  .landing-page .image {
    justify-content: center !important;
  }
}
@media only screen and (max-width: 750px) {
  nav {
    grid-template-columns: 1fr 2fr !important;
  }
  nav .links ul li {
    display: none;
  }
  nav .links ul .burger {
    display: flex !important;
  }

  .landing-page .image img {
    width: 75% !important;
  }

  .about .about-title {
    height: 15% !important;
  }
  .about .about-content {
    display: flex !important;
    flex-direction: column-reverse !important;
    justify-content: start !important;
    grid-template-columns: unset !important;
    grid-template-rows: 1.5fr 1fr !important;
  }
  .about .about-content .switching-area {
    padding-left: 0 !important;
    height: 10% !important;
    grid-row: 1;
    display: flex;
    justify-content: center;
  }
  .about .about-content .switching-area ul {
    width: 100% !important;
    flex-direction: unset !important;
    justify-self: center;
    justify-content: center;
  }
  .about .about-content .switching-area ul li {
    font-size: 1.2rem;
    padding: 2%;
  }
  .about .about-content .content-area {
    margin-top: 10%;
    grid-row: 2;
    font-size: 1rem;
  }
}
@media only screen and (max-width: 550px) {
  nav {
    grid-template-columns: 1fr 1.6fr !important;
  }

  .menu {
    width: 50vw !important;
  }

  .landing-page {
    height: 100vh !important;
    grid-template-columns: unset !important;
    grid-template-rows: 1fr 3.5fr;
  }
  .landing-page .image {
    justify-content: center !important;
    align-items: flex-start !important;
    padding-top: 15%;
  }
}
@media only screen and (max-width: 500px) {
  nav {
    grid-template-columns: 1fr 1fr !important;
  }

  .landing-page .image img {
    width: 80% !important;
  }
}
@media only screen and (max-width: 400px) {
  :root {
    font-size: 18px;
  }

  .menu {
    width: 60vw !important;
  }
}
@media only screen and (max-width: 350px) {
  :root {
    font-size: 14px;
  }

  .landing-page {
    grid-template-rows: 1fr 2fr;
  }
}

/*# sourceMappingURL=style.css.map */
